<% provide(:title, 'Help') %>
<br>

<div class="container-fluid">
  <div class="row-fluid">

<div class="center hero-unit">
  <h1>Help</h1>

  <h3>Forgotten Password? Technical Issue?</h3>
  <a>Text Lisa on 07803 293 522 or email pethicklisa@gmail.com</a>
  
<h3>Predictascore Rules</h3>
 <a href="/predicts">show rules >>></a>
 
<h3>See all predictions for a single match</h3>
 <a href="/fixtures/fix_by_comp">show match predictions >>></a>

 <h3>See all your predictions</h3><h4> (you need to be <a href="/signin">signed in </a>first)</h4>

   <a href="/users/<%= current_user.id %>">show my predictions >>></a>
<br>
<br>
</div>