
<% provide(:title, 'Get Started') %>
<br><br>

<h2>
	<p><%= link_to " Users", users_path, class: "btn btn-primary" %>     See who's playing</p>
	<br>
	<p><%= link_to "Matches", fixtures_path, class: "btn btn-info" %>     View match predictions     </p>
	<br>
	<p><%= link_to " Sign In", new_session_path, class: "btn btn-success" %>     Sign in to edit your account     </p>
	<br>
	<p><%= link_to " Sign Up", new_user_path, class: "btn btn-warning" %>     Sign up to join future competitions     </p></h2>

    
