<% provide(:title, @scoreboard.week) %>
<br>
<p id="notice"><%= notice %></p>
<br>

<table class="table">
	<tr>
		<th>Week</th>
		<th>Label</th>
		<th>Comment</th>
</tr>
<tr>

<td>  <%= @scoreboard.week %></td>
<td>  <%= @scoreboard.label %> </td>
<td>  <%= @scoreboard.comment %> </td>
</tr>

</table>
