<% provide(:title, 'Home') %>
<br>

<div class="container-fluid">
  <div class="row-fluid">

<div class="center hero-unit">
  <h1>My Predictor Score </h1>

  <h3>Save and view your predictions, your results and the leader board</h3>
<br>
<br>
  <%= link_to "Get Started", static_pages_options_path, class: "btn btn-large btn-primary" %>
</div>



