<div class="row">
 <div class="span4">
<br>
<m2>Predictascore Past Winners</m2>
<br><br>
<table class= "table">


<% @board_by_game.each do |year, boards| %>

  <tr>
  <td><%= year %></td>
  
    <td>    
    <% boards.each do |board| %>
      <g4><%= User.where(:id => board.user_id)[0][:name]  %></g4> - 
   
  <% end %>
   </td>
  
    
 
  </tr>

  <% end %>
</table>

<br />
  <% if signed_in? && current_user.admin? %>
<%= link_to 'Add a Winner', new_board_path %>
    <% end %> 
<div>
<div>