@import "bootstrap";

@import "bootstrap-responsive";

/* universal */
m1 {
font-size: 1.7em;
  font-weight: bold;
}
m2 {
font-size: 1.4em;
  font-weight: bold;
}
m3 {
font-size: 1em;
  font-weight: bold;
}
m4 {
font-size: 1em;
  color: #7CFC00;
}
m5 {
font-size: 1em;
  color: #FFA500;
}
mg2 {
font-size: 1.4em;
  font-weight: bold;
  color: #7CFC00;

}
a {
font-size: 1em;

}

user {
font-size: 1em;
  color: #FFA500;
}

g4 {
font-size: 1em;
  color: #7CFC00;
  font-weight: bold;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* header */
header {
  color: #000000;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* fixtures */

.fixtures {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* predicts */

.predicts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

table th, table td {
    text-align: center;
}

.winner {
  color: #41A317;
font-weight: bold;
}
.fix_winner {
  color: #FFA500;
font-weight: bold;
}
.gamedrawn {
  color: #157DEC;
font-weight: bold;
}