
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
	<link rel="shortcut icon" type="image/png" href="favicon.ico" />
	  <%= link_to "My Predictor Score", home_path, id: "logo" %>
      <nav>
   
		<ul class="nav pull-right">
			<li><%= link_to "Sign in", signin_path %></li>
            <li><%= link_to "Sign Up", signup_path %></li>

        </ul>
      </nav>
    </div>
  </div>
</header>